@import "tailwindcss";

@theme {
  --color-theme-yellow: #ffcc00;
  --color-theme-dark-blue: #003366;
  --color-theme-gray: #666666;
  --color-theme-white: #ffffff;
  --color-theme-light-bg: #f9f9f9;
}
